* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color: #222;
}

.contents {
    display: flex;
    display: -webkit-flex;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 320px;
}

.content-padding {
    margin-top: 16px;
    margin-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.content_text {
    font-weight: bold;
    font-size: 5em;
    color: #fff;
}

.conversations_contact_name {
    padding: 0;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 2.7rem;
    color: #fff;
}

.conversations_preview {
    font-size: 2rem;
    line-height: 2.2rem;
    color: #3f444c;
}

.conversations_time {
    margin: 0;
    font-size: 1.5rem;
    line-height: 1.7rem;
    color: #5c6370;
    text-align: center;
}

.sms-reply-area {
    word-break: break-word;
    border: none;
    border-radius: 5px;
    resize: none;
    margin-bottom: : 35px;
    width: 80%;
    height: 150px;
    background-color: rgba(113, 113, 113, 0.5);
}

.conversations-ul li {
    padding: 0;
    border: 0;
    margin: 0;
    line-height: normal;
    min-height: inherit !important;
    min-width: inherit !important;
}

.conversations-ul li>* {
    font-size: inherit !important;
    line-height: normal;
    overflow: visible !important;
    white-space: normal !important;
}

.input-area {
    background: rgb(112, 112, 112);
    width: 8em;
    height: 4em;
    padding: 5px;
    resize: none;
}

.input-area-active {
    background: rgba(0, 0, 0, 0);
    color: white;
    border: 0;
    height: 1.3em;
    width: 58%;
    top: 30px;
    left: 80px;
    position: absolute;
    overflow: hidden;
}
